# Base de Datos
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=essen_ecommerce

# JWT
JWT_SECRET=MI_PALABRA_SECRETA_SÚPER_SEGURA
JWT_EXPIRES_IN=1d

# Servidor
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
